{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "{Storage Connection String}",
    "AzureWebJobsDashboard": "",
    "EventHubConnectionString": "{Event Hub Connection String - for specific event hub}"
  }
}
